flows.json
[{"id":"cdd438a6.98d758","type":"tab","label":"Probando Nodo","disabled":false,"info":""},{"id":"a2c47c20.e0227","type":"visual-recognition-v3","z":"cdd438a6.98d758","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"en","x":510,"y":380,"wires":[["d8dcebac.c86f88"]]},{"id":"98fa58ed.afc018","type":"http in","z":"cdd438a6.98d758","name":"","url":"/reco","method":"get","swaggerDoc":"","x":128,"y":198,"wires":[["e32ab312.5453e"]]},{"id":"f2cb6191.f7e56","type":"http response","z":"cdd438a6.98d758","name":"HTTP Response","x":796,"y":263,"wires":[]},{"id":"e32ab312.5453e","type":"switch","z":"cdd438a6.98d758","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":252,"y":260,"wires":[["eda6f9f8.a0a068"],["67884878.e86d88"]]},{"id":"eda6f9f8.a0a068","type":"template","z":"cdd438a6.98d758","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n</body>\n</html>","x":546,"y":229,"wires":[["f2cb6191.f7e56"]]},{"id":"d8dcebac.c86f88","type":"template","z":"cdd438a6.98d758","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":641,"y":297,"wires":[["f2cb6191.f7e56"]]},{"id":"67884878.e86d88","type":"change","z":"cdd438a6.98d758","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":338,"y":318,"wires":[["a2c47c20.e0227"]]},{"id":"597e9b63.16b4b4","type":"comment","z":"cdd438a6.98d758","name":"!!Make sure you bind Visual Recognition Service to Node-RED App!!","info":"When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n","x":517,"y":415,"wires":[]}]