flows.json
[{"id":"6e76f312.d7d53c","type":"tab","label":"Flujo de Camara","disabled":false,"info":""},{"id":"2550fada.8aad66","type":"tab","label":"Stream","disabled":false,"info":""},{"id":"d37d3c82.99d51","type":"tab","label":"Control Raspberry","disabled":false,"info":""},{"id":"6b865e84.0fd01","type":"tab","label":"Watson Visual Recognition","disabled":false,"info":""},{"id":"e30e47c5.5dbfa8","type":"tab","label":"Foto en Directo","disabled":false,"info":""},{"id":"b1f684ad.4eb128","type":"tab","label":"Camara Web Nodo","disabled":false,"info":""},{"id":"9fdcd4a.f0c7e28","type":"tab","label":"Object detection example flow","disabled":false,"info":"This flow uses the https://developer.ibm.com/exchanges/models/all/max-object-detector/ deep learning model from the Model Asset Exchange to localize and identify multiple objects in a single image. Refer to the documentation for information about the returned message.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector node has been pre-configured to use a hosted model evaluation instance. We recommend using your own local or cloud instance for purposes other than evaluation.\n\nTo adjust the size of the image output in this flow, double-click the **Image output** node. Image width is set to 300px by default."},{"id":"e528e68a.be7418","type":"tab","label":"Scene Classifier example flow","disabled":false,"info":"This flow uses the https://developer.ibm.com/exchanges/models/all/max-scene-classifier/ deep learning model from the Model Asset Exchange to classify images according to the place/location labels in the Places365 data set. Refer to the documentation for information about the returned message.\n\nInstall the following two modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n \n> Note: The scene-classifier node has been pre-configured to use a hosted evaluation instance. We recommend using your own local or cloud instance for non-development use."},{"id":"c21246cc.fdf258","type":"tab","label":"Image caption generator example flow","disabled":false,"info":"This flow uses the https://developer.ibm.com/exchanges/models/all/max-image-caption-generator/ deep learning model from the Model Asset Exchange to generate captions that describe the content of the input image. Refer to the documentation for information about the returned message.\n\nInstall the following two modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n \n> Note: The image-caption-generator node has been pre-configured to use a hosted model evaluation instance. We recommend using your own local or cloud instance for purposes other than evaluation."},{"id":"9baf4982.258458","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad0fd3cb.34cc4","type":"ui_group","z":"","name":"Hacer Fotos","tab":"b8b320f7.dc105","disp":true,"width":"35","collapse":false},{"id":"b8b320f7.dc105","type":"ui_tab","z":"","name":"Camara y Video","icon":"dashboard","disabled":false,"hidden":false},{"id":"2782fb4e.573de4","type":"ui_group","z":"","name":"Camara Web","tab":"fb9fb98e.fcc3b8","disp":true,"width":"35","collapse":false},{"id":"fb9fb98e.fcc3b8","type":"ui_tab","z":"","name":"Camara Web","icon":"show_chart","order":5,"disabled":false,"hidden":false},{"id":"90765f71.e5306","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#00ffff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#00ffff","edited":true},"page-titlebar-backgroundColor":{"value":"#00ffff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4dffff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#00ffff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard Antonio","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca96095d.89ff48","type":"ui_group","z":"","name":"Col1","tab":"235c2fa.05393d","order":1,"disp":false,"width":"6","collapse":false},{"id":"529f5e29.16c2a","type":"ui_group","z":"","name":"Acciones sobre Raspberry","tab":"235c2fa.05393d","order":4,"disp":true,"width":"6","collapse":false},{"id":"bc885249.460a","type":"ui_group","z":"","name":"Col2","tab":"235c2fa.05393d","order":2,"disp":false,"width":"6"},{"id":"c23e1858.908818","type":"ui_group","z":"","name":"Col3","tab":"235c2fa.05393d","order":3,"disp":false,"width":"6"},{"id":"235c2fa.05393d","type":"ui_tab","z":"","name":"Control HEIMDALL-EYE","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e4113df0.f3549","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"27","collapse":false},{"id":"6ab9066e.8fba38","type":"ui_group","z":"","name":"avgs","tab":"","disp":true,"width":"6"},{"id":"e8bb9c23.e3907","type":"ui_group","z":"","name":"Foto Directo","tab":"dbb6d1c8.0c9fd","disp":true,"width":"35","collapse":false},{"id":"dbb6d1c8.0c9fd","type":"ui_tab","z":"","name":"Foto Directo","icon":"dashboard","disabled":false,"hidden":false},{"id":"71333151.db0f4","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"d4019c0e.bd60e","type":"ui_group","z":"","name":"Teste","tab":"","disp":false,"width":"6"},{"id":"515788de.11c518","type":"ui_group","z":"","name":"Teste","tab":"","disp":false,"width":"6"},{"id":"b7020dff.5397e","type":"dropbox-config","z":"","name":""},{"id":"933cdda3.7ca61","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ff4b381a.39e0e8","type":"wiotp-credentials","z":"","name":"","org":"6j86a1","serverName":"","devType":"Raspi_Gateway","devId":"Raspi-01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"25e7fc93.fa7654","type":"wiotp-credentials","z":"","name":"","org":"6j86a1","serverName":"","devType":"Raspi_Gateway","devId":"Raspi-01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"27165cf3.77ee14","type":"ui_group","z":"","name":"Arbeitszimmer","tab":"d6e80fed.eb983","order":1,"disp":false,"width":"10","collapse":false},{"id":"71f033c.ee83ecc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d6e80fed.eb983","type":"ui_tab","z":"","name":"Arbeitszimmer","icon":"book","order":1},{"id":"b6088179.2e14","type":"ui_group","z":"","name":"flowtest","tab":"b1ac7d30.de4b2","disp":true,"width":"12","collapse":false},{"id":"b1ac7d30.de4b2","type":"ui_tab","z":0,"name":"Test","icon":"dashboard","order":6},{"id":"fe357609.488f48","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"3369d647.b570ba","type":"object-detector-service","z":"","host":"https://max-object-detector.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"beff4289.4a024","type":"object-detector-service","z":"","host":"https://max-object-detector.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"f5a224e7.99cd18","type":"scene-classifier-service","z":"","host":"https://max-scene-classifier.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"37c8740.47e7d8c","type":"image-caption-generator-service","z":"","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"ab5c9579.2953c8","type":"ui_group","z":"","name":"Detection","tab":"c735d7.38939a28","order":1,"disp":true,"width":"11"},{"id":"c735d7.38939a28","type":"ui_tab","z":"","name":"Parking","icon":"dashboard","order":1},{"id":"c4f406e1.974de8","type":"ui_group","z":"","name":"Detection","tab":"378f6cc.ab95e94","order":1,"disp":true,"width":"11"},{"id":"378f6cc.ab95e94","type":"ui_tab","z":"","name":"Parking","icon":"dashboard","order":1},{"id":"8043a12c.7e6e2","type":"ui_button","z":"6e76f312.d7d53c","name":"Hacer Foto","group":"ad0fd3cb.34cc4","order":1,"width":"4","height":"3","passthru":false,"label":"Hacer Foto","tooltip":"","color":"","bgcolor":"","icon":"fa-camera","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["c1dbb1f2.947d3","3073c547.9ea4da"]]},{"id":"c1dbb1f2.947d3","type":"exec","z":"6e76f312.d7d53c","command":"/home/pi/Desktop/scripts/./fotos.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Hacer Fotos","x":350,"y":40,"wires":[[],[],[]]},{"id":"bcc07bfa.f3d738","type":"exec","z":"6e76f312.d7d53c","command":"/home/pi/Desktop/scripts/./grabacion.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Hacer video","x":380,"y":260,"wires":[[],[],[]]},{"id":"6bc76f8.484839","type":"ui_button","z":"6e76f312.d7d53c","name":"","group":"ad0fd3cb.34cc4","order":2,"width":"4","height":"3","passthru":false,"label":"Hacer Video","tooltip":"","color":"","bgcolor":"","icon":"videocam","payload":"","payloadType":"str","topic":"","x":130,"y":240,"wires":[["bcc07bfa.f3d738","fed2bc6c.aceef"]]},{"id":"422c9bf1.5f6ae4","type":"ui_button","z":"6e76f312.d7d53c","name":"","group":"ad0fd3cb.34cc4","order":3,"width":"4","height":"3","passthru":false,"label":"Hacer Stream","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"str","topic":"","x":150,"y":320,"wires":[["7b85c27e.ae947c","707460c.8660fa"]]},{"id":"7b85c27e.ae947c","type":"exec","z":"6e76f312.d7d53c","command":"/home/pi/Desktop/scripts/./ejecutarstream.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Hacer Streaming","x":420,"y":340,"wires":[[],[],[]]},{"id":"6be72b8c.16cc74","type":"ui_button","z":"6e76f312.d7d53c","name":"Parar Streaming","group":"ad0fd3cb.34cc4","order":5,"width":"4","height":"3","passthru":false,"label":"Parar Streaming","tooltip":"","color":"","bgcolor":"","icon":"stop_screen_share","payload":"","payloadType":"str","topic":"","x":200,"y":560,"wires":[["5a4b0d97.537734","711013bb.33e70c"]]},{"id":"5a4b0d97.537734","type":"exec","z":"6e76f312.d7d53c","command":"/home/pi/Desktop/scripts/./mataprocesos.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Parar Streaming","x":520,"y":580,"wires":[[],[],[]]},{"id":"403ac23d.1709fc","type":"inject","z":"2550fada.8aad66","name":"Empezar stream Vision Artificial","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":300,"wires":[["ba405d94.f2cf2","420666fb.7a6228"]]},{"id":"ba405d94.f2cf2","type":"ui_template","z":"2550fada.8aad66","group":"ad0fd3cb.34cc4","name":"STREAM CON VISION","order":5,"width":"26","height":"25","format":"<iframe width=\"1024\" height=\"720\" frameborder=\"0\" src=\"http://127.0.0.1:8089/\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":650,"y":300,"wires":[[]]},{"id":"420666fb.7a6228","type":"ui_template","z":"2550fada.8aad66","group":"ad0fd3cb.34cc4","name":"STREAM SIN VISION","order":5,"width":"26","height":"25","format":"<iframe width=\"1024\" height=\"720\" frameborder=\"0\" src=\"http://127.0.0.1:8082/\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":400,"wires":[[]]},{"id":"7d529384.ecb42c","type":"ui_button","z":"6e76f312.d7d53c","name":"","group":"ad0fd3cb.34cc4","order":3,"width":"4","height":"3","passthru":false,"label":"Parar Stream Vision","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"str","topic":"","x":200,"y":420,"wires":[["5501759.367608c","4cf5d8e2.308ed8"]]},{"id":"5501759.367608c","type":"exec","z":"6e76f312.d7d53c","command":"/home/pi/Desktop/scripts/./stopvisionstream.sh ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Parar Stream Vision","x":460,"y":440,"wires":[[],[],[]]},{"id":"720a3f64.91014","type":"ui_gauge","z":"d37d3c82.99d51","name":"Temperatura de la CPU","group":"ca96095d.89ff48","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperatura","label":"Grados","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":300,"wires":[]},{"id":"a43b17a8.656948","type":"exec","z":"d37d3c82.99d51","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":770,"y":300,"wires":[["8a422e67.b0973"],[],[]]},{"id":"1de40998.8cb0c6","type":"inject","z":"d37d3c82.99d51","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":470,"y":320,"wires":[["a43b17a8.656948","5cae0c04.dae314","fade2005.c3bc7"]]},{"id":"8a422e67.b0973","type":"function","z":"d37d3c82.99d51","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":300,"wires":[["720a3f64.91014","a4af1d5f.56fef"]]},{"id":"3ab10f5a.f415a","type":"ui_button","z":"d37d3c82.99d51","name":"","group":"529f5e29.16c2a","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":680,"wires":[["556005cb.d198fc"]]},{"id":"556005cb.d198fc","type":"exec","z":"d37d3c82.99d51","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":758,"y":680,"wires":[[],[],[]]},{"id":"f1c8393c.404068","type":"ui_button","z":"d37d3c82.99d51","name":"","group":"529f5e29.16c2a","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":548.5,"y":724.25,"wires":[["fa1af6bd.6b1548"]]},{"id":"fa1af6bd.6b1548","type":"exec","z":"d37d3c82.99d51","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":769.5,"y":742.25,"wires":[[],[],[]]},{"id":"a4af1d5f.56fef","type":"ui_chart","z":"d37d3c82.99d51","name":"Grafica de la Temperatura CPU","group":"ca96095d.89ff48","order":3,"width":0,"height":0,"label":"Grafica de la Temperatura CPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#000000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1210,"y":340,"wires":[[]]},{"id":"5cae0c04.dae314","type":"exec","z":"d37d3c82.99d51","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":770,"y":380,"wires":[["2bccbf1c.4db37"],[],[]]},{"id":"fade2005.c3bc7","type":"exec","z":"d37d3c82.99d51","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":770,"y":460,"wires":[["edb64a79.5bc578"],[],[]]},{"id":"2bccbf1c.4db37","type":"ui_gauge","z":"d37d3c82.99d51","name":"","group":"ca96095d.89ff48","order":1,"width":0,"height":0,"gtype":"gage","title":"Redimiento del Procesador","label":"Carga Procesador","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":380,"wires":[]},{"id":"edb64a79.5bc578","type":"ui_gauge","z":"d37d3c82.99d51","name":"Uso de Memoria Ram","group":"bc885249.460a","order":1,"width":0,"height":0,"gtype":"gage","title":"Uso de Memoria Ram","label":"MB","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":460,"wires":[]},{"id":"2d117bd7.aac9e4","type":"exec","z":"d37d3c82.99d51","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":770,"y":540,"wires":[["27e50a94.20c5d6"],[],[]]},{"id":"43501308.ab35cc","type":"ui_gauge","z":"d37d3c82.99d51","name":"","group":"c23e1858.908818","order":1,"width":0,"height":0,"gtype":"gage","title":"Uso de la SD","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":540,"wires":[]},{"id":"27e50a94.20c5d6","type":"function","z":"d37d3c82.99d51","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":540,"wires":[["43501308.ab35cc"]]},{"id":"167e6ce6.800fd3","type":"inject","z":"d37d3c82.99d51","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":570,"y":540,"wires":[["2d117bd7.aac9e4"]]},{"id":"f9b104d4.df9748","type":"change","z":"6b865e84.0fd01","name":"Extraer URL de imagen","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":100,"wires":[["73f5c8b5.4f6c18"]]},{"id":"a44a606d.569bd","type":"switch","z":"6b865e84.0fd01","name":"Comprobar URL de la Imagen","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":60,"wires":[["8ee370d.11c5c9"],["f9b104d4.df9748"]]},{"id":"65a38a71.4bdca4","type":"http in","z":"6b865e84.0fd01","name":"","url":"/visualrecognition","method":"get","upload":false,"swaggerDoc":"","x":140,"y":60,"wires":[["a44a606d.569bd"]]},{"id":"8ee370d.11c5c9","type":"template","z":"6b865e84.0fd01","name":"Simpe Web Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Bienvenido a Watson Visual Recognition un simple clasificador de Imagenes</h1>\n<hr>\n<h2>Crear un clasificador personalizado de reconocimiento visual de Watson\n</h2>\n<p>Subir 10 imagenes y entrenar a Watson Visual Recognition Custom Classifier</p>\n\n<form action=\"/upload2zip_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <br>Step 1: Submit a name for this Custom Classifier:<br>\n    <input type=\"text\" name=\"ClassifierName\"/>\n    <br><br>Paso 2: Selecciona 10 imagenes o mas POSITIVAS .png/.jpg sube las fotos o en zip<br>\n    <input type=\"file\" name=\"Positive\" multiple/>\n    <br><br>Paso 3: Selecciona 10 imagenes o mas NEGATIVAS .png/.jpg sube las fotos o en zip<br>\n    <input type=\"file\" name=\"Negative\" multiple/>\n    <br><br>Paso 4: Empieza a entrenarlo<br>\n    <input type=\"submit\" value=\"Zip and Train\">\n</form>\n<hr>\n<h2>Test Watson Visual Recognition</h2>\n<p>Copia y Pega una URL de una imagen para clasificarla:</p>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <br/>Pegue la URL en el cuadro a continuación.<br/>\n    <br>URL de Imagen: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze Image URL\"/>\n</form>\n<hr>\n<p>Subir archivos para clasificarlos:</p>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\"/>\n    <input type=\"submit\" value=\"Analyze File\">\n</form>\n<hr>","x":810,"y":60,"wires":[["dfb063bd.c91ca"]]},{"id":"dfb063bd.c91ca","type":"http response","z":"6b865e84.0fd01","name":"","statusCode":"","headers":{},"x":1070,"y":340,"wires":[]},{"id":"13c4058a.20b13a","type":"debug","z":"6b865e84.0fd01","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":630,"y":400,"wires":[]},{"id":"cf311e06.bb0af","type":"comment","z":"6b865e84.0fd01","name":"Step #1 - Create a Visual Recognition Service","info":"1. Log into your Bluemix account\n2. Navigate to the Bluemix Catalog\n3. Scroll to the Watson Services section\n4. Find and click on the Visual Recognition service\n5. Create an unbounded Visual Recognition instance\n6. Open the new service and navigate to the Service Credentials\n7. Copy the api_key to the clipboard\n8. Open the above \"visual recognition v3\" node and paste your new API Key","x":260,"y":420,"wires":[]},{"id":"50ad0319.6040ac","type":"function","z":"6b865e84.0fd01","name":"Process Results - Multiple Classifiers","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\nif (typeof msg.result.error != 'undefined') {\n    //The Lite Plan allows users to make 7,500 API calls for free\n    // Daily limit is  (up to 250 calls per day)\n    // {\"status\":\"ERROR\",\"statusInfo\":\"Key is over transaction limit\"}\n    msg.template = msg.result.error.message;\n    return msg;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar c_id = 0;\nvar WhichClassifier = [];\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    var bestcolor = -1;\n    var colorscore = 0;\n    var item = \"\";\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      if( typeof msg.result.images[0].classifiers[c_id].classes[i] != 'undefined') {\n          if( typeof msg.result.images[0].classifiers[c_id].classes[i].class != 'undefined') {\n              var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n              if ( object.includes(\"color\") ) {\n                if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n                    bestcolor = i;\n                    colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n                }\n              }\n          }  \n      }  \n    }\n\n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      if( typeof msg.result.images[0].classifiers[c_id].classes[i] != 'undefined') {\n        if( typeof msg.result.images[0].classifiers[c_id].classes[i].class != 'undefined') {\n          var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n          if ( !object.includes(\"color\") ) {\n           if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n  //            bestItem = i;\n              bestItem = 0;\n              itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n              }\n          }\n        }\n      }  \n    }\n\n     if( bestcolor != \"-1\") {\n        // found a color\n        if( msg.result.images[0].classifiers[c_id].classes.length > 0) {\n            if( typeof msg.result.images[0].classifiers[c_id].classes[bestcolor].class != 'undefined') {\n                item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n            }\n        }\n        bestcolor = -1;\n    } else {\n       if( msg.result.images[0].classifiers[c_id].classes.length > 0) {\n           if( typeof msg.result.images[0].classifiers[c_id].classes[bestItem].class != 'undefined') {\n                item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n           }     \n       }     \n    }\n    \n    WhichClassifier.push(\"Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".<br>\");\n}\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\nif( typeof(msg.result.images[0].resolved_url) != 'undefined' ) {\n   msg.template=\"<p>Analyzed image: \"+ msg.result.images[0].resolved_url+\"<br/><img src=\"+msg.result.images[0].resolved_url+\" height=\\\"200\\\"/></p>\";\n} else {\n   msg.template = \"<p>Analyzed image: \"+ msg.mypic;\n}\nmsg.template=msg.template+\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\n// 1st Table\nmsg.template=msg.template+\"<h2>\"+WhichClassifier[0]+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\n// More than one classifier?\nif( msg.result.images[0].classifiers.length == 1 ) {\n    msg.payload=msg.template;\n    return msg;\n}\n\n// Next Classifier\npicInfo = msg.result.images[0].classifiers[1].classes;\narrayLength = picInfo.length;\n\n// 2nd Table\nmsg.template=msg.template+\"<h2>\"+WhichClassifier[1]+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor ( i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\nmsg.payload=msg.template;\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["dfb063bd.c91ca"]]},{"id":"225aab7c.6b98c4","type":"visual-recognition-v3","z":"6b865e84.0fd01","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/d358427a-c9de-42fb-a61c-98fcccf619f4","image-feature":"classifyImage","lang":"en","x":290,"y":380,"wires":[["13c4058a.20b13a","50ad0319.6040ac"]]},{"id":"f1ffcf06.1ebc5","type":"function","z":"6b865e84.0fd01","name":"Process Results - One Classifier","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\nif (typeof msg.result.error != 'undefined') {\n    //The Lite Plan allows users to make 7,500 API calls for free\n    // Daily limit is  (up to 250 calls per day) \n    // {\"status\":\"ERROR\",\"statusInfo\":\"Key is over transaction limit\"}\n    msg.template = msg.result.error.message;\n    return msg;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n//            bestItem = i;\n            bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\nmsg.template=\"<p>Analyzed image: \"+ msg.result.images[0].resolved_url+\"<br/><img src=\"+msg.result.images[0].resolved_url+\" height=\\\"200\\\"/></p>\";\nmsg.template=msg.template+\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\nmsg.payload = msg.template;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["dfb063bd.c91ca"]]},{"id":"521bf704.2bd928","type":"debug","z":"6b865e84.0fd01","name":"","active":true,"tosidebar":true,"console":false,"complete":"req.files","x":350,"y":180,"wires":[]},{"id":"1ae18b72.f0e395","type":"comment","z":"6b865e84.0fd01","name":"Simple file upload example","info":"http://localhost:1880/upload","x":130,"y":180,"wires":[]},{"id":"a607b3de.55cff","type":"http in","z":"6b865e84.0fd01","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":130,"y":220,"wires":[["521bf704.2bd928","f0aea498.a0d628"]]},{"id":"f0aea498.a0d628","type":"change","z":"6b865e84.0fd01","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["6f570a74.8d15a4"]]},{"id":"6f570a74.8d15a4","type":"function","z":"6b865e84.0fd01","name":"Save Picture Buffer","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.mypic = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["73f5c8b5.4f6c18"]]},{"id":"2e0fb764.be9d18","type":"comment","z":"6b865e84.0fd01","name":"Multiple file upload","info":"","x":150,"y":480,"wires":[]},{"id":"ff5a69e.4a80a98","type":"http in","z":"6b865e84.0fd01","name":"","url":"/upload2zip_post","method":"post","upload":true,"swaggerDoc":"","x":160,"y":520,"wires":[["63fd9884.ab3568","43a18d1.5fe7874"]]},{"id":"63fd9884.ab3568","type":"debug","z":"6b865e84.0fd01","name":"","active":true,"tosidebar":true,"console":false,"complete":"req.files","x":390,"y":480,"wires":[]},{"id":"43a18d1.5fe7874","type":"function","z":"6b865e84.0fd01","name":"Construct Zip File attributes","func":"// Confirm that all the files are images\nvar NumImages = msg.req.files.length ;\nvar AllImages = true;\n\n// Watson Visual Recognition requires a minimum of 10 images\n// to train a custom classifier\nif( NumImages < 2 ) {\n    msg.payload = \"Watson Visual Recognition requiere un mínimo de 10 imágenes para entrenar un clasificador personalizad\";\n    return [msg, null] ;\n}\n\nfor( var i = 0; i < NumImages ; i++ ) {\n   if ( !msg.req.files[i].mimetype.includes('image')) {\n       // At least one file is not an image, throw an error\n       AllImages = false ;\n   }\n}\nif( !AllImages ) {\n    msg.payload = \"Error los ficheros tienen que ser .png / .jpg \";\n    return [msg, null] ;\n}\n\n// Step 1:\n// Install the node-red-contrib-zip Node-RED node\n//\n// Step 2:\n// Construct a msg.payload of an Array of files to be compressed into a ZIP object.\n// The ZipFile name is specified with msg.filename\n// Array: An array of objects containing 'filename' as a String and 'payload' as a Buffer/String\n// each representing one file in the resultiing zip\n\nvar PosZipArray = [];\nvar NegZipArray = [];\nfor( i = 0; i < NumImages ; i++ ) {\n    if( msg.req.files[i].fieldname == \"Positive\") {\n        PosZipArray.push( { \"filename\":msg.req.files[i].originalname, \"payload\":msg.req.files[i].buffer }) ;\n    } else if ( msg.req.files[i].fieldname == \"Negative\") {\n        NegZipArray.push( { \"filename\":msg.req.files[i].originalname, \"payload\":msg.req.files[i].buffer }) ;\n    }\n}\nmsg.filename = msg.payload.ClassifierName;\n// Zip the Positive Example files first\nmsg.payload = PosZipArray ;\n// Store the Negative Examples for a second zip\nmsg.NegativeExamples = NegZipArray ;\n\nreturn [null,msg];","outputs":2,"noerr":0,"x":440,"y":520,"wires":[["dfb063bd.c91ca"],["e86b8545.18edb8","62c42589.9b0bcc","4ed11452.de7eac"]]},{"id":"4ed11452.de7eac","type":"zip","z":"6b865e84.0fd01","name":"Zip Positive Examples","mode":"compress","filename":"","outasstring":false,"x":180,"y":620,"wires":[["6bb0d855.90c2e8"]]},{"id":"e86b8545.18edb8","type":"change","z":"6b865e84.0fd01","name":"Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Zip file created!  Watson Visual Recognition is Training a custom classifier","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["dfb063bd.c91ca"]]},{"id":"62c42589.9b0bcc","type":"debug","z":"6b865e84.0fd01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":540,"wires":[]},{"id":"e8750ac5.cd6978","type":"visual-recognition-util-v3","z":"6b865e84.0fd01","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/d358427a-c9de-42fb-a61c-98fcccf619f4","image-feature":"createClassifier","x":500,"y":700,"wires":[["d30c0953.a4e1a8","2b04d69e.ed299a"]]},{"id":"92c2c831.548168","type":"function","z":"6b865e84.0fd01","name":"Prepare to Create a Classifier","func":"// Create a Classifier\n//  Provide the following input :\n//   msg.params[\"name\"] : a string name that will be used as prefix for the returned classifier_id (Required)\n//   msg.params[\"{classname}_positive_examples\"] : a Node.js binary Buffer of the ZIP that contains a minimum of 10 images. (Required)\n//   msg.params[\"negative_examples\"] : a Node.js binary Buffer of the ZIP that contains a minimum of 10 images.(Optional)\n//\n// More information on this API documentation.\n//   https://cloud.ibm.com/apidocs/visual-recognition#create-a-classifier\n\nvar classnamepos = msg.filename+\"_positive_examples\";\nmsg.params = {} ;\nmsg.params.name = msg.filename ;\nmsg.params.negative_examples = msg.payload\nmsg.params[classnamepos] = msg.PositiveExamplesZipped // zip file!\n\n// don't bother sending a big zip file to the Watson Visual Recognition Util node\n//msg.payload = \"\"; \n\nreturn msg ;","outputs":1,"noerr":0,"x":190,"y":700,"wires":[["e8750ac5.cd6978","290ba20.6dca35e"]]},{"id":"d30c0953.a4e1a8","type":"debug","z":"6b865e84.0fd01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":730,"y":760,"wires":[]},{"id":"6bb0d855.90c2e8","type":"change","z":"6b865e84.0fd01","name":"Zip 2nd Set of Examples","rules":[{"t":"set","p":"PositiveExamplesZipped","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"NegativeExamples","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":620,"wires":[["669849bc.e2f1a8"]]},{"id":"669849bc.e2f1a8","type":"zip","z":"6b865e84.0fd01","name":"Zip Negative Examples","mode":"compress","filename":"","outasstring":false,"x":690,"y":620,"wires":[["92c2c831.548168"]]},{"id":"290ba20.6dca35e","type":"debug","z":"6b865e84.0fd01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","x":470,"y":760,"wires":[]},{"id":"2b04d69e.ed299a","type":"change","z":"6b865e84.0fd01","name":"","rules":[{"t":"set","p":"CustomClassifier","pt":"flow","to":"result.classifier_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":700,"wires":[["8e28f435.7be3b8"]]},{"id":"73f5c8b5.4f6c18","type":"function","z":"6b865e84.0fd01","name":"Custom Classifier","func":"var CustomClassifier = flow.get(\"CustomClassifier\") || \"\";\nmsg.params = {};\n\n// Check if a Custom Classifier has been trained\nif( CustomClassifier.length ) {\n    msg.params.classifier_ids = CustomClassifier + \",default\" ;\n} else {\n    msg.params.classifier_ids = \"default\" ;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":160,"wires":[["225aab7c.6b98c4","c5587f3b.8d426"]]},{"id":"c5587f3b.8d426","type":"debug","z":"6b865e84.0fd01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","x":1070,"y":160,"wires":[]},{"id":"f76fe483.8ca0e8","type":"inject","z":"6b865e84.0fd01","name":"Store a PreBuilt Custom Classifier ID","topic":"","payload":"YourCustomClassifier_1724727066","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":820,"wires":[["63c25ca4.87fa14"]]},{"id":"63c25ca4.87fa14","type":"change","z":"6b865e84.0fd01","name":"","rules":[{"t":"set","p":"CustomClassifier","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":820,"wires":[[]]},{"id":"8e28f435.7be3b8","type":"template","z":"6b865e84.0fd01","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Please wait for the {{result.classifier_id}} to complete training.","output":"str","x":980,"y":700,"wires":[["bd0848a2.082578"]]},{"id":"bd0848a2.082578","type":"debug","z":"6b865e84.0fd01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":700,"wires":[]},{"id":"ea2b4dec.a66b8","type":"exec","z":"6e76f312.d7d53c","command":"/home/pi/Desktop/dropbox/./ejecutar.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Foto Dropbox","x":440,"y":660,"wires":[[],[],[]]},{"id":"aa0a3064.30ded","type":"ui_button","z":"6e76f312.d7d53c","name":"Foto Dropbox","group":"ad0fd3cb.34cc4","order":5,"width":"4","height":"3","passthru":false,"label":"Foto Dropbox","tooltip":"","color":"","bgcolor":"","icon":"fa-camera","payload":"","payloadType":"str","topic":"","x":140,"y":660,"wires":[["ea2b4dec.a66b8","57200f6a.fcffd"]]},{"id":"4933136d.25a2fc","type":"exec","z":"e30e47c5.5dbfa8","command":"raspistill","addpay":false,"append":"-w 1280 -h 720 -o -","useSpawn":"false","timer":"","oldrc":false,"name":"","x":680,"y":420,"wires":[["1d745ce2.cdea83"],[],[]]},{"id":"1d745ce2.cdea83","type":"base64","z":"e30e47c5.5dbfa8","name":"","action":"str","property":"payload","x":840,"y":420,"wires":[["5c76c011.06d4b"]]},{"id":"5c76c011.06d4b","type":"template","z":"e30e47c5.5dbfa8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"1280px\" height=\"720px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":970,"y":420,"wires":[["ee30f75e.766578"]]},{"id":"ee30f75e.766578","type":"ui_template","z":"e30e47c5.5dbfa8","group":"e8bb9c23.e3907","name":"","order":0,"width":"27","height":"27","format":"<div ng-bind-html=\"msg.payload\">\n\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1100,"y":420,"wires":[[]]},{"id":"a869fac3.0bd548","type":"ui_button","z":"e30e47c5.5dbfa8","name":"Foto en Directo","group":"e8bb9c23.e3907","order":1,"width":"3","height":"3","passthru":false,"label":"button","tooltip":"","color":"#89EC36","bgcolor":"#000000","icon":"fa-camera-retro","payload":"","payloadType":"str","topic":"","x":390,"y":340,"wires":[["4933136d.25a2fc"]]},{"id":"89023d6f.35abd","type":"ui_template","z":"b1f684ad.4eb128","group":"2782fb4e.573de4","name":"STREAM CON VISION","order":5,"width":"70","height":"20","format":"<iframe width=\"1920\" height=\"1080\" frameborder=\"0\" src=\"http://46.39.200.21:8080/\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":260,"wires":[[]]},{"id":"88922ca9.e0fc6","type":"ui_toast","z":"6e76f312.d7d53c","position":"top right","displayTime":"6","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1060,"y":160,"wires":[]},{"id":"3073c547.9ea4da","type":"function","z":"6e76f312.d7d53c","name":"","func":"\n    msg.topic=\"Informacion\";\n    msg.payload=\"Foto Realizada y Almacenada\";\n    msg.highlight='yellow';\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":820,"y":160,"wires":[["88922ca9.e0fc6"]]},{"id":"f3f2ece4.89064","type":"ui_toast","z":"6e76f312.d7d53c","position":"top right","displayTime":"10","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1060,"y":280,"wires":[]},{"id":"fed2bc6c.aceef","type":"function","z":"6e76f312.d7d53c","name":"","func":"\n    msg.topic=\"Informacion\";\n    msg.payload=\"Realizando Vídeo y Almacenando\";\n    msg.highlight='yellow';\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":820,"y":280,"wires":[["f3f2ece4.89064"]]},{"id":"ba49d1a6.7f4c6","type":"ui_toast","z":"6e76f312.d7d53c","position":"top right","displayTime":"10","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1000,"y":400,"wires":[]},{"id":"707460c.8660fa","type":"function","z":"6e76f312.d7d53c","name":"","func":"\n    msg.topic=\"Informacion\";\n    msg.payload=\"Streaming Comenzando\";\n    msg.highlight='yellow';\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":760,"y":400,"wires":[["ba49d1a6.7f4c6"]]},{"id":"c6fbf576.d2b3d8","type":"ui_toast","z":"6e76f312.d7d53c","position":"top right","displayTime":"10","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":980,"y":540,"wires":[]},{"id":"4cf5d8e2.308ed8","type":"function","z":"6e76f312.d7d53c","name":"","func":"\n    msg.topic=\"Alerta\";\n    msg.payload=\"Streaming Visión Parado\";\n    msg.highlight='yellow';\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["c6fbf576.d2b3d8"]]},{"id":"e0b7e6d5.9264b8","type":"ui_toast","z":"6e76f312.d7d53c","position":"top right","displayTime":"10","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1000,"y":640,"wires":[]},{"id":"711013bb.33e70c","type":"function","z":"6e76f312.d7d53c","name":"","func":"\n    msg.topic=\"Alerta\";\n    msg.payload=\"Streaming Parado\";\n    msg.highlight='yellow';\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":760,"y":640,"wires":[["e0b7e6d5.9264b8"]]},{"id":"931a6205.e8a4e","type":"ui_toast","z":"6e76f312.d7d53c","position":"top right","displayTime":"10","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":940,"y":740,"wires":[]},{"id":"57200f6a.fcffd","type":"function","z":"6e76f312.d7d53c","name":"","func":"\n    msg.topic=\"Informacion\";\n    msg.payload=\"Foto realizada Dropbox\";\n    msg.highlight='yellow';\n    return msg;\n\n\n","outputs":1,"noerr":0,"x":700,"y":740,"wires":[["931a6205.e8a4e"]]},{"id":"62ad45ab.fc763c","type":"debug","z":"9fdcd4a.f0c7e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":140,"wires":[]},{"id":"f7261456.f1d468","type":"object-detector","z":"9fdcd4a.f0c7e28","service":"beff4289.4a024","method":"predict","passthrough":false,"annotated_input":true,"predict_body":"","predict_bodyType":"str","predict_threshold":"0.7","predict_thresholdType":"str","name":"","x":340,"y":140,"wires":[["62ad45ab.fc763c","7df5332b.1759cc"]]},{"id":"ac4bb473.d51328","type":"fileinject","z":"9fdcd4a.f0c7e28","name":"","x":120,"y":140,"wires":[["f7261456.f1d468"]]},{"id":"ce10072b.2d0518","type":"camera","z":"9fdcd4a.f0c7e28","name":"","x":110,"y":198,"wires":[["f7261456.f1d468"]]},{"id":"269cb68a.67ccda","type":"comment","z":"9fdcd4a.f0c7e28","name":"Vision Artificial IBM CLOUD ","info":"","x":170,"y":40,"wires":[]},{"id":"7df5332b.1759cc","type":"function","z":"9fdcd4a.f0c7e28","name":"Extract Bounding Box Image Data","func":"// if the incoming message contains the annotated image\n// send it to the image output node to display\n\nmsg.payload = msg.annotatedInput;\nif (msg.payload) {\n    return msg;\n}","outputs":1,"noerr":0,"x":399.5,"y":198,"wires":[["ef15820e.a15cf"]]},{"id":"614572e4.3e2c6c","type":"debug","z":"e528e68a.be7418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":120,"wires":[]},{"id":"de10e696.11e508","type":"fileinject","z":"e528e68a.be7418","name":"","x":140,"y":120,"wires":[["bdf1a7a3.ae0488"]]},{"id":"47e5eff2.18624","type":"camera","z":"e528e68a.be7418","name":"","x":150,"y":180,"wires":[["bdf1a7a3.ae0488"]]},{"id":"2ba18565.7de04a","type":"comment","z":"e528e68a.be7418","name":"Deteccion de Escenas IBM CLOUD","info":"","x":180,"y":40,"wires":[]},{"id":"bdf1a7a3.ae0488","type":"scene-classifier","z":"e528e68a.be7418","service":"f5a224e7.99cd18","method":"predict","predict_image":"","predict_imageType":"str","name":"","x":359.5,"y":120,"wires":[["614572e4.3e2c6c"]]},{"id":"a15fd0c0.c1833","type":"debug","z":"c21246cc.fdf258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":120,"wires":[]},{"id":"c9864ed7.8109d","type":"fileinject","z":"c21246cc.fdf258","name":"","x":140,"y":120,"wires":[["75f91fc9.622a2"]]},{"id":"58130862.3d3148","type":"camera","z":"c21246cc.fdf258","name":"","x":150,"y":180,"wires":[["75f91fc9.622a2"]]},{"id":"75f91fc9.622a2","type":"image-caption-generator","z":"c21246cc.fdf258","service":"37c8740.47e7d8c","method":"predict","passthrough":false,"predict_body":"","predict_bodyType":"str","name":"","x":390,"y":120,"wires":[["a15fd0c0.c1833"]]},{"id":"92c8817e.b237f","type":"comment","z":"c21246cc.fdf258","name":"Descripcion de Imagen IBM CLOUD","info":"","x":190,"y":40,"wires":[]},{"id":"ef15820e.a15cf","type":"image viewer","z":"9fdcd4a.f0c7e28","name":"","width":"600","data":"payload","dataType":"msg","x":650,"y":200,"wires":[[]]}]